<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>672198199608-2pq39qdtsgbuvv4psh9daij04v1ispf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672198199608-2pq39qdtsgbuvv4psh9daij04v1ispf8</string>
	<key>API_KEY</key>
	<string>AIzaSyD81GbT9aSlvwRGePYAf92p1R1YQVpE1zk</string>
	<key>GCM_SENDER_ID</key>
	<string>672198199608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.jopeb.autonomosapp</string>
	<key>PROJECT_ID</key>
	<string>autonomos-app-e7df6</string>
	<key>STORAGE_BUCKET</key>
	<string>autonomos-app-e7df6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:672198199608:ios:c1eca433c581af8c</string>
	<key>DATABASE_URL</key>
	<string>https://autonomos-app-e7df6.firebaseio.com</string>
</dict>
</plist>
